* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calculator {
  border: 2px solid black;
  margin: 1rem;
  border-radius: 5px;
  width: 200px;
}
#display {
  font-size: 25px;
  width: 80%;
  display: block;
  margin: 10px auto;
}
.btn_container {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn {
  width: 45px;
  height: 45px;
  margin: 3px;
}
