* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.bag_btn {
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 1rem;
}
.wish_btn {
  padding: 5px 35px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem;
  text-transform: uppercase;
}
