* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#main_heading{
    text-align: center;
}
.grid_container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
#Todo_input,#Todo_date{
    font-size: 1rem;
    padding: 10px 5px;
}
.btn_delete{
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 0px;
    cursor: pointer;
}
.btn_todo{
    background-color: rgb(68, 184, 68);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 0px;
    cursor: pointer;
}